## Algorithms For Everyone

In [1]:
def sum1toN(n): # O(n): n회 곱셈
    sum = 0
    for i in range(1, n+1):
        sum += i
    return sum

In [2]:
%%time
sum1toN(10), sum1toN(100), sum1toN(1000), sum1toN(10000),  sum1toN(10000000)

Wall time: 900 ms

(55, 5050, 500500, 50005000, 50000005000000)

In [3]:
def sum1toNfromGauss(n): #O(1): 덧셈 1회 곱셈 1회 나누기 1회
    return n * (n + 1) // 2 # a // b: int(a / b)

In [4]:
%%time
sum1toNfromGauss(10), sum1toNfromGauss(100), sum1toNfromGauss(1000), sum1toNfromGauss(10000), sum1toNfromGauss(10000000)

Wall time: 0 ns

(55, 5050, 500500, 50005000, 50000005000000)

In [5]:
def sumofsquared(n): #O(n): 2n
    sum = 0
    for i in range(1, n+1):
        sum += i**2
    return sum

In [6]:
sumofsquared(10), sumofsquared(100)

(385, 338350)

In [7]:
def sumofsquared2(n): # O(1)
    return n * (n+1) * (2*n + 1) // 6

In [8]:
sumofsquared2(10), sumofsquared2(100)

(385, 338350)

In [9]:
def findmax(lst): # O(n)..?
    a = 0
    for idx, i in enumerate(lst):
        if idx == 0:
            a = i
        elif i > a:
            a = i
        else:
            pass
    return a

In [10]:
def findmax2(lst):
    max = lst[0]
    for i in lst:
        if i > max:
            max = i
        else:
            pass
    return max

In [11]:
lst1 = [1, 2, 3, 4]
lst2 = [3, 2, 1, 4]
lst3 = [1, 4, 2, 5]
lst4 = [2, 6, 7, 1]
lst5 = [1, 8, 2, 1]

In [12]:
findmax(lst1), findmax(lst2), findmax(lst3), findmax(lst4), findmax(lst5)

(4, 4, 5, 7, 8)

In [13]:
findmax2(lst1), findmax2(lst2), findmax2(lst3), findmax2(lst4), findmax2(lst5)

(4, 4, 5, 7, 8)

In [14]:
def findmaxidx(lst):
    max = 0
    for idx, i in enumerate(lst):
        if idx == 0:
            max = i
            max_idx = 0
        elif i > max:
            max = i
            max_idx = idx
        else:
            pass
        # print(idx, i, max, max_idx)
    return max_idx

In [15]:
findmaxidx(lst1), findmaxidx(lst2), findmaxidx(lst3), findmaxidx(lst4), findmaxidx(lst5)

(3, 3, 3, 2, 1)

In [16]:
name1 = ["Tom", "Jerry", "Mike", "Tom"]
name2 = ["Tom", "Jerry", "Mike", "Tom", "Mike"]

In [17]:
def samename(lst):
    result = set()
    for idx, i in enumerate(lst):
        for j in lst[idx+1 :]:
            if i == j:
                result.add(i)
            else:
                pass
    return list(result)

In [18]:
len(name1)

4

In [19]:
def find_same_name(a):
    n = len(a)
    result = set()
    for i in range(0, n - 1):
        for j in range(i + 1, n):
            if a[i] == a[j]:
                result.add(a[i])
    return result

In [20]:
samename(name1), samename(name2)

(['Tom'], ['Mike', 'Tom'])

In [21]:
find_same_name(name1), find_same_name(name2)

({'Tom'}, {'Mike', 'Tom'})

In [1]:
["Tom", "Jerry", "Mike"]

['Tom', 'Jerry', 'Mike']

In [5]:
aaa = ["Tom", "Jerry", "Mike", "Kim"]
for idx, i in enumerate(aaa):
    for j in aaa[idx + 1:]:
        print(i, j)

Tom Jerry
Tom Mike
Tom Kim
Jerry Mike
Jerry Kim
Mike Kim