In [3]:
lst = [1, 6, 3, 88, 92, 5, 4, 3]

In [4]:
def list_position(lst, x):
    idx_lst = list()
    for idx, i in enumerate(lst):
        if x == i:
            idx_lst.append(idx)
    if len(idx_lst) == 1:
        return idx_lst[0]
    elif len(idx_lst) == 0:
        return None
    else:
        return idx_lst

In [7]:
list_position(lst, 1), list_position(lst, 3), list_position(lst, 99)

(0, [2, 7], None)

In [37]:
def num_match_name(num_lst, name_lst, num):
    if num in num_lst:
        for idx, i in enumerate(num_lst):
            if num == i:
                return name_lst[idx]
            else:
                pass
    else:
        return '?'

In [38]:
stu_no = [39, 14, 67, 105]
stu_name = ["Justin", "John", "Mike", "Summer"]

In [41]:
num_match_name(stu_no, stu_name, 14), num_match_name(stu_no, stu_name, 105), num_match_name(stu_no, stu_name, 1)

('John', 'Summer', '?')

In [36]:
for idx, i in enumerate([39, 14, 67, 105]):
    print(idx, i, ["Justin", "John", "Mike", "Summer"][idx])

0 39 Justin
1 14 John
2 67 Mike
3 105 Summer

In [93]:
d = [2, 4, 5, 1, 3]

In [94]:
def selection_sort(lst):
    sort_lst = list()
    for idx, i in enumerate(lst):
        min = lst[0]
        for idx2, j in  enumerate(lst):
            if min > j:
                min = j
            else:
                pass
        print(idx, min)
        sort_lst.append(min)
        print('sort_lst: ', sort_lst)
        for idx3, k in enumerate(lst):
            if k == min:
                del lst[idx3]
        print('idx2: ', idx3, 'lst: ', lst)
    return sort_lst

In [95]:
selection_sort(d)

0 1
sort_lst:  [1]
idx2:  3 lst:  [2, 4, 5, 3]
1 2
sort_lst:  [1, 2]
idx2:  2 lst:  [4, 5, 3]
2 3
sort_lst:  [1, 2, 3]
idx2:  2 lst:  [4, 5]

[1, 2, 3]